@tailwind base;
@tailwind components;
@tailwind utilities;





.slider-pagination {
  &--elem {
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
    }

    &.headerSlider-active {
      &:after {
        background-color: #a6a6a6;
      }

    }
  }
}

.iconsSlider-active {
  transform: scale(2);
}


.alt-slider {
  .swiper-slide {
    opacity: .25;
    transition: opacity 0.8s;
  }

  .swiper-slide-active {
    opacity: 1 !important;
  }
}

@media only screen and (min-width: 768px) {
  .footer-logo-0 {
    width: 178px;
    height: 22px;
  }

  .footer-logo-1 {
    width: 140px;
    height: 51px;
    margin-top: 10px;
  }

  .footer-logo-2 {
    width: 153px;
    height: 52px;
  }

  .footer-logo-3 {
    width: 196px;
    height: 17px;
  }
}

.packages-slider {
  .swiper-wrapper {
    align-items: end;
  }
}

.dot.active {
  opacity: 1 !important;
}

.gallery {
  .item-0 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .item-1 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .item-2 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .item-3 {
    grid-area: 1 / 4 / 2 / 5;
  }

  .item-4 {
    grid-area: 1 / 5 / 2 / 6;
  }

  .item-5 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .item-6 {
    grid-area: 2 / 3 / 3 / 4;
  }

  .item-7 {
    grid-area: 2 / 4 / 3 / 5;
  }

  .item-8 {
    grid-area: 2 / 5 / 3 / 6;
  }

  .item-9 {
    grid-area: 2 / 6 / 3 / 7;
  }
}